/* This main css file contains the default rules and is geared toward the small/phone view */

* { 
    box-sizing: border-box;
} 

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

header, nav, main, footer { 
    max-width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

header {
    background-color: rgb(107, 199, 46);
    padding: 3em 0 1em 0;
}

header h1 {
    font-family: 'BioRhyme Expanded', serif;
    color: rgb(13,112,85);
    font-size-adjust: 23px;
}

h2, h3, h4, h5, h6{
    font-family: 'BioRhyme Expanded', serif;
}

header img {
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 5rem;
}

.hamburger { 
    display: flex;
    position: absolute;
    top: 2.0rem;
    right: 1.25rem;
}

.navigation a { 
    list-style: none;
    color: rgb(255, 248, 248);   
}

.navigation li { 
    display: none;
}

.navigation.responsive {
     position: relative;
}

.navigation.responsive li { 
    font-family: 'Source Sans Pro', sans-serif; 
    background-color:rgb(68, 136, 25); 
    display: flex;
    Flex-direction: column;
    width: 100%; 
    margin: 2px 0;
    border: 1px solid black; 
}

.navigation.responsive li a {	
    padding: 1rem; 
    text-align: center;	
    display: flex;
    flex: 1 1 100%;
    text-decoration:none; 
}

.navigation.responsive li a.acive {
    background-color: rgb(240, 172, 109)
}

.navigation.responsive li a:hover:not(.active) { 
    background-color:  rgb(236, 224, 55) 
}

figure.grid {
    list-style: none;
  margin: 2em;
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr)); 
}

figure img.img {
    border: 1px solid #ffe066;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

figure figcation.cap {
    margin-top: auto;
    border-top: 1px solid #ffe066;
    padding: 10px;
    text-align: center;
}
figure img.img {
    width: 200px;
    height: 150px;
}

.towninfo {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: .30rem;
}

.towninfo article {
    text-align: center;
}

section.summary {
    background-color: rgb(168,208,141);
    padding: 1em 0 1em 0;
    font-size: 18px;
}

.forecast {
    display: none;
    font-size: 18px;
}

.town-article {
    display: Flex;
    flex-direction: row;
    margin-bottom: 1.5em;
    font-size: 16px;
}

article p {
    text-align: left;
    margin: 0 0 10px 10px;
   
}

article img {
    float: right;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 2px 2px 5px 5px;
}

.haha {
    margin-bottom: 20px;
}

.stormform{
    background-color:rgb(89, 126, 67);
    border: 3px;
    border-style: solid;
    border-color: black;
}

.danger{
    float:left;
    margin-bottom: 20px;
}


label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

textarea {
    width:200px;
    height:100px;
}

input, label, select, textarea { 
    float:left;
    margin-bottom: 20px;
}


input[type="radio"] {
    display:inline-block;
}

label {
    display:inline-block;
}

#danger{
    float:left;
    margin-bottom: 20px;
    
}

footer {
    background-color: rgb(107, 199, 46);
    font-size: 13px;
    padding: 0 0 1em 0;
    font-size: 14px;
}

footer aside {
    background-color: rgb(168,208,141);
    padding: 1em 0 1em 0;
}
