/* || general styles */

html {
  font-family: 'fira sans', sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}

/* section styles */

section article {
  width: 33%;
  float: left;
  margin: 10px 0;
}

section p {
  margin: 15px 0;
}

section ul {
  margin-top: 0;
}

