/* || general styles */

html {
  font-family: 'fira sans', sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
}

h2, h4 {
  font-family: 'Fira Sans', sans-serif;
}

/* header styles */

h2 {
  font-size: 4rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section article {
  width: 33%;
  float: left;
  margin: 10px 0;
}

section p {
  margin: 15px 0;
}

section ul {
  margin-top: 0;
}

h4 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}