/* || general styles */

/* body {
  width: 800px;
  margin: 0 auto;
} */

/* header styles */

h1 {
  font-size: 2rem;
  text-align: center;
}

hgroup p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section.towninfo article {
  width: 33%;
  float: left;
  margin: 10px 0;
}

section.towninfo p {
  margin: 15px 0;
}

section.towninfo ul {
  margin-top: 0;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}