/* This main css file contains the default rules and is geared toward the small/phone view */

* { 
    box-sizing: border-box;
} 

body {
    font-family:  'Padauk', sans-serif;
    font-size: 17.5px;
}

header { 
    max-width: 100%;
    font-family: 'Merriweather', serif;
    text-align: left;
}

footer { 
    max-width: 100%;
    font-family: 'Merriweather', serif;
    text-align: center;
}

nav, main {
    max-width: 100%;
   font-family: 'Padauk', sans-serif;
    text-align: center;
}

header {
    background-color: #598522;
    padding: 3em 0 1em 0;
}

header h1 {
    font-family: 'Playfair Display', serif;
    color: #bac228;
    font-size-adjust: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    color: #bac228;
}

.dots {
    list-style-type: none;
}

header img {
    width: 200px;
    height: 150px;
    float: left;
    margin-left: 15rem;
}

.hamburger { 
    display: flex;
    position: absolute;
    top: 2.0rem;
    right: 1.25rem;
}

.navigation a { 
    list-style: none;
    color: rgb(255, 248, 248);   
}

.navigation li { 
    display: none;
}

.navigation.responsive {
     position: relative;
}

.navigation.responsive li { 
    font-family: 'Source Sans Pro', sans-serif; 
    background-color:#6051c2 ; 
    display: flex;
    Flex-direction: column;
    width: 100%; 
    margin: 2px 0;
    border: 1px solid black; 
}

.navigation.responsive li a {	
    padding: 1rem; 
    text-align: center;	
    display: flex;
    flex: 1 1 100%;
    text-decoration:none; 
}

.navigation.responsive li a.acive {
    background-color: rgb(240, 172, 109)
}

.navigation.responsive li a:hover:not(.active) { 
    background-color:   #ffdb26;  
}


.grid {
  list-style-type: none;
  margin: 2em;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr)); 
}

 .grid2 {
    
  list-style-type: none;  
  margin: 2em;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  padding-bottom: 190px;
}  

 .grid2 li {
    list-style-type: none;
	width: 290px;
	height: 48px;
	float: center;
	text-align: left;
	background:rgb(253, 252, 252);
	font-family: sans-serif;
    line-height: 1.5;
	text-shadow: 0px 1px 1px rgba(88, 107, 58, 0.4);
	font-size: 16.5px;
	margin: 5px;
}

.grid2 li > ul {
	position:left;
	width:190px;
	clear:both;
	/* Hide the Submenus */
    display:none;
    
} */


.img {
    border: 3px solid #8cbb4e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1px 1px;
}

section.spin h4 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

section.spin p {
    border: 1px solid #736ba8;
    text-align: center;
    padding: 8px;
    background-color: #dacd8c ;
}

/* section tr:nth-child(even) {
    background-color: #dacd8c ;
} */

.cap {
    margin-top: auto;
    padding: 10px;
    text-align: left;
}

.riding {
    text-align: left;
    padding: 0 0 12px 0;
}

.skilled {
    width: 250px;
    height: 300px;
    float: right;
    padding: 0 5px 0 5px;

}

left {
    text-align: left;
}

.easy1 {
    width: 350px;
    height: 200px;
    padding: 0 1rem 0 0; 
}
.easy {
    width: 350px;
    height: 200px;
    float: left;
    padding: 0 1rem 0 0;
}

.flipflop {
    text-align: center;
   
}

.flip {
    float: left;
    padding-right: 20px;
    
}

.flop {
    float: right;
    padding-left: 20px;
}

.april {
    text-align: left;
    padding-left: 10px;
}

.haha {
    margin-bottom: 20px;
}

.bikeform {
    background-color:#f8f8f2;
    border: 3px;
   }

.space {
    padding-bottom: 80px; 
}

.bikeform h2, h3, h4, h5, h6{
    color:#598522;
}   

label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

textarea {
    width:200px;
    height:100px;
}

input, label, select, textarea { 
    float: left;
    margin-bottom: 20px;
}


input[type="radio"] {
    display: inline-block;
}

label {
    display: inline-block;
}

footer {
    background-color: rgb(107, 199, 46);
    font-size: 13px;
    padding: 0 0 1em 0;
    font-size: 14px;
}

footer aside {
    background-color: rgb(168,208,141);
    padding: 1em 0 1em 0;
}

