@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
  article p.town-article img { width: 29.333%; }

   figure img {
    width: 612px;
    height: 408px;
}

section{
    margin-left: 170px;
    margin-right:170px;
}

  .franklin{
    width: 75%;
   }

   
}