@media only screen and (min-width: 37.5em) {
   
button { 
    display:none; 
}  

section.forecast { 
    display: inline; 
} 
  
article p.town-article img {
     width: 62.666%; float:right; 
}  

.hamburger { 
    display: none;
}
  
.navigation {	
    background-color: rgb(106, 192, 53);	
    overflow: hidden;	
    text-align: center;	
}

.navigation li { 
    display: inline-block;
    margin-left: .25rem; 
}

.navigation a {
    display: block;	
    color: rgb(255, 248, 248);	
    padding: .5rem;	
    text-align: center;
    text-decoration: none;
}

.navigation li a:hover:not(.active) {	
    color: rgb(10, 10, 10); 
     background-color: 
     rgb(252, 189, 18);	
}
 
figure img {
    width: 408px;
    height: 272px;
}


table {
    margin: auto;
}

.franklin img{
    width: 85%;
}

}