@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
  article p.town-article img { width: 29.333%; }
}

section div.current {
    display: inline;
    margin: 0px 150px 250px 0px;
}

section.highlow .conditions{
    float: center;
    margin: 0px 0px 0px 250px;
}