/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

header, nav, main, footer { 
    max-width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    text-align:center;
}

header {
    background-color: rgb(168,208,141);
}

header h1,  {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(13,112,85);
    margin: auto;
    
}
header .subheading {
    
}
header img {
    width: 100px; 
    height: 100px;
}

nav {}
nav button {}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:rgb(168,208,141) ;
}
nav ul li {}   
nav ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
nav ul li.active a {
    color: rgb(245, 146, 18);
}
nav ul li a:hover {
    color: rgb(136, 73, 15);
}

main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

section {
    Background-color: rgb(168,208,141);
    
}
section.forecast {
    text-align: center;
}  

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within
    artcle elements */
       float: right;
  
}

footer {
    background-color: rgb(52, 116, 10);
}
footer aside {
    background-color: rgb(168,208,141);
}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */