/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

header, nav, main, footer { 
    max-width: 40%;
    font-family: Helvetica, Arial, sans-serif;
    text-align:center;
}

header {
    background-color: rgb(13,78,96 );
}

header h1,  {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(13,112,85);
    margin: auto;
    
}
header .subheading {
    
}
header img {
    width: 100px;
}

nav {}
nav button {}
nav ul {}
nav ul li {
    display: block;
    width: 30px;
    background-color: #577436;
}
nav ul li a {

}
nav ul li.active a {
    color: rgb(183,130,60);
}
nav ul li a:hover {
    color: rgb(136, 73, 15);
}

main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

section {
    Background-color: rgb(168,208,141);
    
}
section.forecast {
    font-size: 7px;
}


article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within
    artcle elements */
  width: 200px;
  }

footer {
    background-color: rgb(13,78,96 );
}
footer aside {
    background-color: rgb(19,118,146);
}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */