@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }  

  header img {
    width: 200px;
    height: 200px;  
    float: left; 
    margin: 16px;
}
  nav {}
   
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(168,208,141);
}    

 nav li {
    float: left;
}

  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

figure img {
    width: 200px;
    height: 300px;
    text-align:center;
    border-bottom-right-radius: 50px;
}

section {
    background-color: rgb(168,208,141);
    border: 70px;
}

section.highlow .conditions{
    float: left;
    margin: 0px 0px 0px 200px;
}
section div.current {
    Float: right;
    margin: 0px 200px 200px 0px;
}

section.forecast {
    margin-left:auto;
    margin-right:auto;
    display: inline!important;
    font-size: 20px;
    background-color: rgb(168,208,141);
}

table {
    margin-left: auto; 
    margin-right: auto;
    display: inline!important;
    background-color: rgb(168,208,141);
    }
 
  nav button { display: none; }  /* hamburger button does not need to be shown */
  
  article p.town-article img {
    float: right;
    padding: 8px 16px;
    height: 225px;
    width: 200px;} 


  }
