@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  body {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }

  header img {
    width: 250px;
    height: 250px;  
    float: left; 
    margin-left: 16px;
}
   
  nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

 nav li {
    float: center;
}

  nav li a {
    display: block;
    padding: 8px;
    background-color: rgb(168,208,141);
}

figure img {
    margin: 5em;
}

section {
    background-color: rgb(168,208,141);
    padding-left: 30px;
    padding-right: 30px;
}

section div.current {
    Float: right;
    margin: 0px 250px 200px 0px;
}

section.forecast {
    text-align: center;
    display:inline;
    font-size: 30px;
    background-color: rgb(168,208,141);
    padding: 30px;
}

table {
    margin: auto;
    display:inline;
    background-color: rgb(168,208,141);
}
 
  nav button { display: none; }  /* hamburger button does not need to be shown */
  
  section.forecast { display: auto; }  /* show the 10-day forecast with the medium view and up */
  
  article p.town-article img { width: 62.666%; float: right; }  /* responsive images */

}
